.App {
  text-align: center;
}

#root {
  background-color: #4dbeff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

#root {
  color: black;
}

#card {
  background-color: rgb(233, 241, 252);
  box-shadow: 0px 0px 20px rgb(19, 19, 19);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 420px;
}

#btn {
  background-color: #4dbeff;

  margin-top: 10px;
  color: white;
  font-weight: bolder;
  width: 100%;
  height: 28px;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
}

#btn:hover {
  background-color: #027add;
}

.listContainer {
  display: flex;
  flex-direction: column;
}
