/*
=============== 
Variables
===============
*/

:root {
  --custom-border-radius: 10px;
  --custom-margin-mobile: 2%;
  --custom-width-mobile: 96%;
}


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(34, 37, 50);
  font-size: 0.875rem;
  color: whitesmoke;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#heading{
  margin: 20px 30px 10px 30px;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 15px 0 15px;
  height: 38px;
}

input {
  border-color: transparent;
  padding: 0.4rem 0 0.4rem 0.5rem;
  font-size: 1.1rem;
  border-top-left-radius: var(--custom-border-radius);
  border-bottom-left-radius: var(--custom-border-radius);
  height: 100%;
  width: 88%;
  max-width: 500px;
  margin: 0 0 0 var(--custom-margin-mobile);
}

.btn {
  padding: 0.4rem 1rem;
  font-size: 1.1rem;
  border-color: transparent;
  border-top-right-radius: var(--custom-border-radius);
  border-bottom-right-radius: var(--custom-border-radius);
  cursor: pointer;
  color: whitesmoke;
  background-color: #47485d;
  height: 100%;
  margin: 0 var(--custom-margin-mobile) 0 0;
}

.btn:hover, .btn:active{
  background-color: rgb(85, 85, 85);
}

.btn:focus, input:focus{
  outline: none;
}

.error-text{
  height: 40px;
  width: var(--custom-width-mobile);
  max-width: 800px;
  margin: 10px var(--custom-margin-mobile) 10px var(--custom-margin-mobile);
  background-color: rgb(255, 66,121);
  border-radius: var(--custom-border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selected-color{
  height: 40px;
  width: var(--custom-width-mobile);
  max-width: 800px;
  margin: 10px var(--custom-margin-mobile) 10px var(--custom-margin-mobile);
  border-radius: var(--custom-border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selected-color p {
  text-align: center;
  height: 100%;
  max-width: 100%;
  padding: 0 20px;
  background: rgb(34, 37, 50);
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--custom-width-mobile);
  max-width: 1400px;
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  margin-bottom: 20px;
}

.colors .single-color{
  min-width: 100%;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colors .single-color .container-weight-color {
  padding: 5px;
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.colors .single-color .container-weight-color .label-weight {
  font-size: 15px;
  line-height: 1;
  
}

.colors .single-color .container-weight-color .label-color {
  font-size: 18px;
  font-weight: 500;
}

.color-light {
  color: rgba(255, 255, 255, 0.80);
}

.color-dark {
  color: rgba(0, 0, 0, 0.80);
}

.color-light-fadeout {
  color: rgba(255, 255, 255, 0.65);
}

.color-dark-fadeout {
  color: rgba(0, 0, 0, 0.65);
}

.icon{
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translate(250%, 0%);
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-dark{
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.icon:hover{
  background: rgba(66, 66, 66, 0.4);
}

.modal-clipboard{
  width: 100%;
  max-width: 400px;
  height: 40px;
  background-color: #47485d;
  border-radius: var(--custom-border-radius);
  text-align: center;
  position: fixed;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.modal-clipboard p {
  color: whitesmoke;
  font-weight: 700;
  font-size: 1.1rem;
}



/* 
=============
Media Queries 
=============
*/
@media only screen and (max-width:480px){
  input{
    font-size: 1.2rem;
  }

  .btn{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .modal-clipboard{
    width: 85%;
  }
}




