.cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: 90vh;
  padding-bottom: 150px;
}

.cart-table{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/*Cart Table Heading*/

.cart-table-heading{
  display: grid;
  grid-template-columns: 1.25fr 1.25fr 1fr 1fr 1fr;
  width:100%;
  max-width: 1200px;
  margin: 10px 0;
  padding: 5px 0;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}

.cart-table-heading{
  font-size: 18px;
  text-align: center;
}

.cart-table-heading-subtotal{
  justify-self: right;
  text-align: right;
  width: 100%;
  max-width: 150px;
}

/* Cart Items */

.cart-items{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  background-color: white;
}

.cart-item{
  position: relative;
  display: grid;
  grid-template-columns: 1.25fr 1.25fr 1fr 1fr 1fr;
  width: 100%;
  border-bottom: 1px solid darkgrey;
  margin: 7px 0;
  padding: 0 0 10px 0;
}

.item-picture{
  justify-self: center;
  display: block;
  max-width: 100%;
  max-height: 220px;
  image-rendering: optimizeSpeed;
}

.item-description{
  margin-left: 5px;
}

.item-price,
.item-quantity{
  text-align: center;
}

.quantity-container{
  position: relative;
  justify-self: center;
  width: 120px;
}

.item-quantity{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgb(179, 177, 177);
  outline: none;
  width: 100%;
  transition: all .4s ease;
  padding: 3px 0;
}

.item-quantity:focus{
  border: 1px solid var(--custom-prime-color);;
}

.dropdown-arrow-wrapper{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  height: 21px;
  position:absolute;
  top: 2px;
  right: 0px;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
}

.dropdown-arrow{
  margin-top: -4px;
  height: 30px;
  width: 30px;
  transition: all .7s ease;
}

.dropdown-arrow-active{
  transform: rotate(180deg);
}

.dropdown{
  z-index: 100;
  position: absolute;
  width: 100%;
  background-color: white;
  margin-top: 3px;
  padding: 5px 0px;
  text-align: center;
  user-select: none;
  box-shadow: 0px 4px 20px 2px rgba(0,0,0,0.4);
}

.dropdown > li{
  padding: 3px 0;
}

.dropdown > li:hover
{
  background-color: var(--custom-prime-color-light);
  cursor: pointer;
}

.subtotal-remove-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.item-subtotal{
  text-align: right;
  width: 100%;
  max-width: 150px;
}

.item-remove{
  width: 100%;
  margin-top: auto;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: underline;
  text-align: right;
}

.item-remove:hover{
  color: var(--custom-prime-color-dark);
  text-decoration: none;
}

.trash-icon:hover{
  cursor: pointer;
}

/* Cart Total */

.cart-total{
  width:100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-total > p {
  font-size: 18px;
}
