/*
=============== 
Variables
===============
*/

:root {
  --custom-border-radius: 10px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: whitesmoke;
  background-color: rgb(233, 231, 231);
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: scroll; */
  overflow: overlay;
}

/*Custom Scrollbar*/
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
 
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95);
}

/*Custom Scrollbar for Firefox*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(95, 95, 95) rgba(2, 34, 46, 0);
  /*Thumb Track*/
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;
}

h4 {
  font-size: 0.875rem;
}

/* 
==========
Specifics
==========
 */

 nav {
   position: sticky;
   top: 0;
   height: 50px;
   z-index: 100;
 }

nav ul {
  padding: 5px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  /* background-color: rgb(202, 163, 252); */
  background-color: white;
  border-bottom: 2px solid rgba(176, 116, 255, 0.7);
  /* box-shadow: 0 10px 20px rgba(176, 116, 255, 0.5); */
  height: 100%;
  z-index: 100;
}

.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  width: 90%;
  max-width: 1400px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
 }

.item{
  position: relative;
  margin: 5px;
  min-width: 300px;
  /* max-width: 500px; */

  height: 355px;
  background-color: rgb(51, 50, 50);
  color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.product-more-info{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  padding: 5px 0;
  z-index: 10;

  cursor: pointer;

  background-color: rgba(0,0,0);
  opacity: 0;
  text-transform: uppercase;
  color: white;
  font-weight: 600;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}

.product-more-info svg {
  width: 20px;
  height: 20px;
}

.product-more-info path{
  stroke-linecap: square;
  stroke-linecap: square;
  stroke-width: 3px;
}

.product-more-info p {
  line-height: 0.9;
}

.info{
  background-color: rgb(176, 116, 255);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  padding: 5px 0 7px 0;
  width: 90%;
  margin-top: -35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.1;
  z-index: 10;
}

.product-name{
  font-weight: 600;
  font-size: 18px;
}

.product-price{
  font-size: 15px;
}

.button-to-cart{
  margin-top: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3px 40px;
  color: rgb(20, 20, 20);
}

/*Remove the god awful default 3d-effect*/
.button-to-cart, .button-to-cart:focus, .button-to-cart:active{
  border: 2px solid rgba(20, 20, 20, 0.7);
	background: none;
	outline: none;
}

.product-image{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

img{
  transform: scale(0.9);
  height: 300px;
  background-color: white;
  overflow: hidden;
  
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}

.item:hover img{
  transform: scale(1.4);
}

.item:hover .product-more-info{
  opacity: 0.85;
}

 .shopping-cart svg{
   height: 20px;
   width: 20px;
   color: black;
 }

