/*
=============== 
Variables
===============
*/

:root {
  --custom-border-radius: 10px;
  /* --custom-prime-color: rgb(176, 116, 255); */
  --custom-prime-color: rgb(136, 80, 240);
  --custom-prime-color-dark: rgb(71, 8, 189);
  --custom-prime-color-light: rgb(191, 154, 250);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  background-color: rgb(233, 231, 231);
  /* background-color: rgb(105, 96, 96); */
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

/*Custom Scrollbar*/
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(95, 95, 95, 0.8);
}

/*Custom Scrollbar for Firefox*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(95, 95, 95) rgba(2, 34, 46, 0);
  /*Thumb Track*/
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2px;
  font-weight: 450;
}

h3 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;
  font-weight: 450;
}

h4 {
  font-size: 1.1rem;
  line-height: 1;
  margin: 0;
}

main{
  min-height: 90vh;
}

/* 
=========
Header
=========
*/
nav {
  position: sticky;
  top: 0;
  height: 40px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid rgba(176, 116, 255, 0.7);
}

nav a {
  color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 0;
}

nav a:hover {
  background-color: rgba(176, 116, 255, 0.7);
}

nav a:hover h3{
  color: black;
}

.main-links{
  height: 100%;
}

nav h3{
  font-size: 1.3rem;
  font-weight: 600;
}

.categorySelected{
  color: var(--custom-prime-color-dark);
}

.cart-link-header {
  padding: 0 24px;
}

.cart-link-header svg {
  height: 35px;
  width: 35px;
  color: black;
}

.main-links {
  display: flex;
  flex-direction: row;
}

.cart-amount{
  position: absolute;
  top: 1px;
  right: 16px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgba(136, 80, 240, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-amount > p {
  line-height: 16px;
  color: white;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 550;
}

/*
========
Filter
========
*/

.filter {
  /* background-color: white; */
  width: 250px;
  min-height: 355px;
  margin: 0 50px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
}

.filter-content{
  padding: 15px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.filter-content > * {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid rgb(173, 173, 173);
}

.price-wrapper{
  width: 100%;
}

.filter-category-heading{
  font-weight: 600;
  font-size: 18px;
}

.priceSlider-container {
  padding: 6px 6px; /*This value is also influenced by the padding defined in the PriceSlider (withStyles => root) */
  width: 100%;
  margin: 0;
}

.min-max-input-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.min-input,
.max-input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(179, 177, 177);
  outline: none;
  transition: all .4s ease ;
  width: 48px;
  font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.min-input:focus,
.max-input:focus{
  border-bottom: 2px solid var(--custom-prime-color);
}

.min-container::after,
.max-container::after{
  content: "€";
}

.min-max-divide{
  margin: 0 5px;
  font-size: 22px;
}

.manufacturer-checkbox{
  height: 33px;
  margin-left: 3px;
}

.MuiFormControlLabel-label{
  user-select: none;
}

.filter-button {
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-top: auto;

  width: 100%;
  height: 32px;
  
  color: whitesmoke;
  background-color: var(--custom-prime-color);
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.filter-button:hover {
  background-color: var(--custom-prime-color-dark);
}

/* 
=========
Content-Grid
=========
*/

.content-grid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}

.heading-sort-wrapper{
  width: 90%;
  max-width: 1700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(51, 50, 50);
  color: white;
  margin: 15px 0;
  padding: 5px 10px;
}

.heading-sort-wrapper h2 {
  margin-left: 45%;
}

#sort{
  font-size: 16px;
}

#sort,
#sort:focus,
#sort:active {
  border: 1px solid rgba(20, 20, 20, 0.7);
  outline: none;
}

.filter-content-wrapper {
  width: 90%;
  max-width: 1700px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content {
  width: 80%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 10px;
}

.item {
  position: relative;
  height: 355px;
  background-color: rgb(51, 50, 50);
  color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.product-more-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  z-index: 10;

  cursor: pointer;

  background-color: rgba(0, 0, 0);
  opacity: 0;
  text-transform: uppercase;
  color: white;
  font-weight: 600;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.product-more-info svg {
  width: 20px;
  height: 20px;
}

.product-more-info path {
  stroke-linecap: square;
  stroke-linecap: square;
  stroke-width: 3px;
}

.product-more-info p {
  line-height: 0.9;
}

.info {
  background-color: var(--custom-prime-color-light);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  padding: 7px 0 7px 0;
  border-radius: var(--custom-border-radius);
  width: 90%;
  margin-top: -35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.1;
  z-index: 10;
}

.price-name-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price-name-wrapper > p{
  margin: 2px;
}

.product-name {
  font-weight: 650;
  font-size: 17px;
}

.product-price {
  font-size: 16px;
}

.button-to-cart {
  margin-top: 7px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 14px;
  padding: 5px 45px;
  color: whitesmoke;
  background-color: var(--custom-prime-color);
  transition: all 0.2s ease-in-out;
  letter-spacing: .5px;
}

/*Remove the god awful default 3d-effect on buttons*/
.button-to-cart,
.button-to-cart:focus,
.button-to-cart:active {
  border: 2px solid rgba(20, 20, 20, 0.7);
  outline: none;
}

.button-to-cart:hover{
  background-color: rgb(71, 8, 189);
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

.product-image img {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.product-image .no-img-fix {
  transform: scale(0.9);
  height: 300px;
  background-color: white;
  overflow: hidden;
}

.laptop-tablet-headphone-fix-img {
  width: 90%;
  max-width: 300px;
  transform: scale(1);
  object-fit: cover;
}

.item:hover .no-img-fix {
  transform: scale(1.1);
}

.item:hover .laptop-tablet-headphone-fix-img {
  transform: scale(1.2);
}

.item:hover .product-more-info {
  opacity: 0.85;
}

/* 
=========
Home
=========
*/

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 150px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-heading{
  margin: 15px 0;
}

.category {
  position: relative;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0);
  width: 90%;
  max-width: 1400px;
  height: 250px;
  overflow: hidden;
  margin-bottom: 10px;
}

.category img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  object-fit: cover;
  width: 100%;
  z-index: 1;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.category:hover img {
  transform: scale(1.1);
}

.category-info {
  background-color: rgba(0, 0, 0, 0.65);
  color: whitesmoke;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.category-info h2{
  margin-left: 50px;
  font-size: 1.75rem;
  font-weight: 450; 
}

.category-info:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.category-text {
  width: 100%;
  text-align: center;
}

/* 
=========
Footer
=========
*/
footer {
  height: 200px;
  width: 100%;
  background-color: rgb(51, 50, 50);
  /* margin-top: 40px; */
}

/* 
==========
Media Queries
==========
*/
@media only screen and (max-width: 450px) {
  h3 {
    font-size: 1rem;
  }
  .main-links {
    display: none;
  }
  .content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .category {
    height: 180px;
  }
  .category img {
    transform: scale(1.3);
  }
  .category:hover img {
    transform: scale(1.55);
  }
}

@media only screen and (min-width: 450px) and (max-width: 900px) {
  .main-links {
    display: none;
  }
  .category {
    height: 220px;
  }
  .category img {
    transform: scale(1.1);
  }
  .category:hover img {
    transform: scale(1.3);
  }

  .filter-content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .filter{
    width: 100%;
    max-width: 900px;
    margin: 10px 0 20px 0;
  }

  .content{
    width: 100%;
  }
}
