.img-container {
  position: relative;
  width: 150px;
  height: 150px;
}

img{
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 3;
}

.imageBackground{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 7px;
  bottom: 3px;
  border-radius: 50%;
  background-color: rgb(73, 166, 233);
  z-index: 2;
}

.quoteIcon{
  text-align: center;
  position: absolute;
  height: 40px;
  width: 40px;
  padding-top: 10px;
  top: 0px;
  left: 5px;
  background-color: rgb(73, 166, 233);
  color: white;
  border-radius: 50%;
  z-index: 4;
}

.nameJobContainer {
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.3;
}

.name{
  font-weight: bolder;
  font-size: larger;
  text-transform: capitalize;
}

.jobTitle{
  text-transform: capitalize;
  font-size: 14px;
  color:rgb(73, 166, 233);
}
