.card {
  margin: 20px 20px 20px 20px;
  position: relative;
  background: white;
  max-width: 640px;
  min-height: 540px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgb(47, 47, 47);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

img {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  height: 320px;
}

.CountryPrice {
  margin: 20px 0 10px 0px;
  display: flex;
  width: 80%;
  font-size: 16px;
  font-weight: 700;
  flex-direction: row;
  align-items:flex-end;
  justify-content: space-between;
  color: black;
}

.Country {
  font-size: 20px;
  color: rgb(231, 87, 9);
  line-height: 1;
}

.Price{
  line-height: 1;
  margin-left: 10px;
}

p {
  width: 80%;
  padding-bottom: 65px;
}

.MoreLess{
   background: transparent;
   outline: none;
   border-color: transparent;
   text-transform: capitalize;
   font-size: 16px;
   color:rgb(231, 87, 9);
   cursor: pointer;
}

.btn {
  position: absolute;
  bottom: 25px;
  width: 30%;
  background-color: white;
  font-size: 16px;
  font-weight: bolder;
  color: black;
  padding: 5px 20px 5px 20px;
  border: 2px solid black;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 186, 148);
}

@media screen and (max-width: 768px) {
  p {
    padding-bottom: 75px;
  }
  .MoreLess{
    font-size: 14px;
  }
  .btn {
    width: 60%;
  }
}
