/*
=============== 
Variables
===============
*/

:root {
  --custom-border-radius: 10px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: whitesmoke;
  background-color: rgb(34, 37, 50);
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

/*Custom Scrollbar*/
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(2, 34, 46, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95);
}

/*Custom Scrollbar for Firefox*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(95, 95, 95) rgba(2, 34, 46, 0);
  /*Thumb Track*/
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.alert{
  height: 50px;
  font-size: 1.2rem;
  background-color: rgb(0, 199, 221);
  border-radius: var(--custom-border-radius);
  width: 88%;
  max-width: 700px;
  font-weight: 600;
  position: absolute;
  top: 31px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  z-index: 0;
  overflow: hidden;
}

.App{
  margin-top: 60px;
  padding: 10px 20px 25px 20px;
  border-radius: var(--custom-border-radius);
  background-color: #383b47;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  z-index: 1000;

  width: 88%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

form{
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 15px 0 15px;
  height: 36px;
}

.input-grocery{
  border-color: transparent;
  padding: 0.3rem 0 0.3rem 0.4rem;
  font-size: 1.1rem;
  border-top-left-radius: var(--custom-border-radius);
  border-bottom-left-radius: var(--custom-border-radius);
  height: 100%;
  width: 70%;
  max-width: 500px;
}

.input-grocery:focus, .input-grocery:hover{
  outline: none;
  box-shadow: 0 0 0 1pt rgb(0, 199, 221);
}

.button-add:focus {
  outline: none;
}
.button-add:active, .button-add:hover{
  outline: none;
  box-shadow: 0 0 0 1pt rgb(0, 199, 221); 
}

.button-add {
  font-size: 1.1rem;
  border-color: transparent;
  border-top-right-radius: var(--custom-border-radius);
  border-bottom-right-radius: var(--custom-border-radius);
  cursor: pointer;
  min-width: 105px;
  color: white;
  font-weight: 550;
  background-color: rgb(0, 199, 221);
  height: 100%;
  margin: 0 0 0 0;
}

.button-submit:hover, .button-submit:active{
  background-color: rgb(0, 229, 255);
}

.groceries{
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  margin: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grocery-list {
  width: 100%;
  max-width: 300px;
  font-size: 1.2rem;
}

.grocery-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:relative;
  height: 28px;
}
.grocery-title {
  line-height: 1;
}

.grocery-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.grocery-buttons button{
  line-height: 1;
  min-height: 100%;
  margin: 0px 5px;
  border-color: transparent;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 0px;
}

.grocery-buttons svg {
  height: 20px;
  width: 20px;
}

.button-edit svg:hover{
  color: rgb(0, 199, 221);
}

.button-delete svg:hover {
  color: rgb(255, 66, 121);
}

.button-clear{
  font-size: 1rem;
  margin: 10px 0 0 0;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  width: 70%;
  max-width: 250px;
  height: 28px;
  color: white;
  font-weight: 550;
  background-color: rgb(255, 66, 121);
}

.button-clear:focus {
  outline: none;
}
.button-clear:active, .button-clear:hover{
  outline: none;
  box-shadow: 0 0 0 1pt rgb(255, 66, 121);; 
}


/* 
=============
Media Queries 
=============
*/
@media only screen and (max-width:480px){
  .button-add{
    min-width: 100px;
  }
  
}
